/*
	Importación de Fuente
*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");


/* Config General*/

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 13.5pt;
	color: #878e83;
	letter-spacing: -1px;
	box-sizing: border-box;
}

h1, h2, h3, h4 {
		color: #007897;
		font-weight: normal;
	}

ul li a{
	list-style-type: none;
  margin: 0;
  padding: 0;
}
ul{
		padding: 0.25em 0 0 0;
	}

a{
	color: #5d93a2;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}


.page{
	display: flex;
	flex-flow: column nowrap;
	background-color: #e3e9dc;

}
	.header{
		display: flex;
		justify-content: center;
		background-color: #007b9d;
		box-sizing: border-box;
		color: #fff;;
		
	}

		.menu{
			display: flex;
			justify-content:space-around;
			align-items: center;
			background: #ba135d;
			width: 100%;
			height: 86px;
			margin: 2.5% 3.5% 2.5% 03.5% ;
  		padding: 0 40px 0 40px;
  		border-radius: 10px;
  		border: solid 1px #006e8b;
  		box-shadow: inset 0px 0px 0px 1px #12a0bf, 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
	    background-color: #007b9d;
  		height: 86px;
		}
		.nav{
			background: #f4cca4;
		}
.banner-section{
	display: flex;
	justify-content: center;
	background: #c8d2bc url(images/bg1.png);
  padding: 2em 0;
 	color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #e3e9dc;
  /*color: #878e83;  font-size: 3em;*/
  letter-spacing: -1px;
}
	.banner{
		width: 95%;
    padding: 6em 0;
		color: #fff;
		border-radius: 10px;
    background-image: url(images/banner.jpg);
    background-size: cover;
    text-align: center;
    box-shadow: inset 0 0 0 20px #fff;
	
	}
		.banner h1{
			color: #fff;
		}

.main{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
  background: #fff;
  padding: 4em 0;
}
.row-one{
	display: flex;
	justify-content:flex-start;
  background: #fff;
  padding: 4em 0;
}
	.left{
		flex: 1 1 33.3%;
	
	}
	.center{
		flex: 1 1 33.3%;
	}
	.right{
		flex: 1 1 33.3%;;
	}
.row-two{
	display: flex;
	justify-content:flex-start;
  background: #fff;
  padding: 4em 0;
}

/* Config Footer */
footer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #e3e9dc;
}

footer .row{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

footer .row-links{
	display: flex;
	flex-wrap: nowrap;
	
}

/*  para revisar*/
/*	
	.header h1, ul, li, a{
  		color: #fff;
  		text-decoration: none;
		}
*/