/*
	Importación de Fuente
*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");


/* Config General*/
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

	@-ms-viewport {
		width: device-width;
	}

body{
	font-size: 13.5pt;
	font-family: sans-serif;
	background-color: #e3e9dc;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #878e83;
	letter-spacing: -1px;
}

h1, h2, h3, h4{
	color: #007897;
	font-weight: normal;
}

h1{
	text-transform: lowercase;
}

h2{
	text-transform: lowercase;
	font-size: 1.6em;
	letter-spacing: -1px;
	margin-bottom: 1em;
}

h3, h4 {
	color: #283121;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.2em;
	margin-bottom: 0.8em;
}

h4 {
	font-size: 1em;
}

.imagen {
  padding: 0.938em 0.938em 0.938em 0;
}

ul li a{
	list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.link-list li {
	border-top: solid 1px #ced0b7;
	padding: 0.75em 0 0 0;
	margin: 0.75em 0 0 0;
	width: max-content;
}

ul.link-list li:first-child {
	padding-top: 0;
	margin-top: 0;
	border-top: 0;
}

ul{
	padding: 0.25em 0 0 0;
}

a{
	color: #5d93a2;
	text-decoration: underline;
	width: fit-content;
}

a:hover{
	text-decoration: none;
}

p {
    line-height: 1.8em;
}

p, ul{
	margin-bottom: 1.25em;
}

* > p:last-child{
	margin-bottom: 0 !important;
}    

.container{
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

.page{
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	background-color: #e3e9dc;

}

/* Config Header*/
.header{
	display: flex;
	justify-content: center;
	background-color: #007294;
	box-sizing: border-box;
	background-image: -moz-linear-gradient(top, #008dab, #007294);
	background-image: -webkit-linear-gradient(top, #008dab, #007294);
	background-image: -ms-linear-gradient(top, #008dab, #007294);
	background-image: linear-gradient(top, #008dab, #007294);
	color: #fff;	
}
		
.menu{
	display: flex;
	justify-content: space-between;
	align-items:center;
	box-sizing: border-box;
	width: 1200px;
	margin: 2.5% 3.5% 2.5% 3.5% ;
	padding: 0 40px;
	border-radius: 10px;
	border: solid 1px #006e8b;
	box-shadow: inset 0px 0px 0px 1px #12a0bf, 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #007b9d;
	height: 86px;
}
		
.nav{
	line-height: 84px;
	text-transform: lowercase;
	font-size: 1.3em;
	letter-spacing: -1px;
}
.header h1 {
	color: #fff;
	text-decoration: none;
	font-size: 2.4em;
	letter-spacing: -2px;
	line-height: 86px;
}
.header h1 a {
	color: #fff;
	text-decoration: none;
}
.header nav a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0 25px 0 25px;
  outline: 0;
} 
.header nav a.current-page-item {
	background-image: -moz-linear-gradient(top, #007b99, #007897);
	background-image: -webkit-linear-gradient(top, #007b99, #007897);
	background-image: -ms-linear-gradient(top, #007b99, #007897);
	background-image: linear-gradient(top, #007b99, #007897);
	background-color: #007897;
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px 1px rgba(255, 255, 255, 0.1);
}
.header nav a:hover {
	background-image: -moz-linear-gradient(top, #0782a0, #077d9b);
	background-image: -webkit-linear-gradient(top, #0782a0, #077d9b);
	background-image: -ms-linear-gradient(top, #0782a0, #077d9b);
	background-image: linear-gradient(top, #0782a0, #077d9b);
	background-color: #0882a1;
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05), 0px 0px 5px 1px rgba(255, 255, 255, 0.05);
}

/* Config Banner*/
.banner-section{
	display: flex;
	justify-content: center;
	background: #c8d2bc url(images/bg1.png);
	padding: 2em 0;
	color: #fff;
	font-family: 'Ubuntu Condensed', sans-serif;
	background-color: #e3e9dc;
	/*color: #878e83;  font-size: 3em;*/
	letter-spacing: -1px;
	box-sizing: border-box;
}
.banner{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0 auto;
	padding: 6em 0;
	color: #fff;
	border-radius: 10px;
	background-image: url(images/banner.jpg);
	background-size: cover;
	text-align: center;
	box-shadow: inset 0 0 0 20px #fff;
}
.banner h2 {
	font-size: 3.3em;
	color: #fff;
	text-align: center;
	letter-spacing: -2px;
	margin: 0;
}
.banner span {
	display: block;
	left: 0;
	margin: 0.5em 0 0 0;
	font-size: 1.6em;
	color: #fff;
	letter-spacing: -1px;
	text-transform: lowercase;
	opacity: 0.8;
}

/* Config Main */
.main{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
  	background: #fff;
 	padding: 0 0;
}
	.main .control{
		padding: 0;
		background-color: #fff;
	}
.row-one{
	display: flex;
	justify-content:flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
  	background: #fff;
  	padding: 4em 0;
}

.left-bar{
flex: 0 1 25%;
	padding: 0px 50px 0px 0px ;

}
.col-center{
	flex: 0 1 50%;
}
.right-bar{
	flex: 0 1 25%;
	padding: 0px 0px 0px 50px ;
}

.colum-one{
	flex: 0 1 66.66%;
	
}

.col-one{
	flex: 0 1 auto;
	
}

.colum-bar{
	flex: 0 1 33.33%;
	padding: 0px 0px 0px 50px ;
}
.colum-bar .imagen{
	    padding: 0.938em 0.938em 0.938em 3.192em;
}

.colum-bar-left{
	flex: 0 1 33.33%;
	padding: 0px 50px 0px 0px ;
}


.left{
	flex: 10 1 33.33%;
	
}

.center{
	flex: 1 1 33.33%;

}

.right{
	flex: 1 1 33.33%;
}

.row-two{
	display: flex;
	justify-content:flex-start;
  background: #fff;
  /*padding: 4em 0;*/ 
}

.articulo {
	flex: 2 2 50%;
}

img.top {
    margin: 4px 0 2.25em 0;
}

.row-two section {
	padding-right: 1.563em;
}

.row-two article {
	padding-left: 1.563em;
}

.comment {
  top: 0;
  right: 0;
  height: 32px;
  line-height: 24px;
  padding-left: 40px;
  background: url(images/icon-bubble.png) no-repeat;
	float: right;
  margin-top: -54px;
}

/*

.left,
.right,
.center {
  padding-top: 3.125em;
}
*/
li {
  list-style-type: none;
}

.control{
	padding: 0;
}

.padding-cajas-centro {
  padding: 0 0 0 3.125em;
}
.texto {
  padding-top: 0.938em;
}

p {
  line-height: 1.628em;
}

section ul li {
  display: flex;
}

.cols2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

.articulo div ul li {
  border-top: solid 1px #ced0b7;
  padding: 0.75em 0 0 0;
  margin: 0.75em 0 0 0;
}

.left p {
  margin-bottom: 15px;
}

/* Config Footer */
footer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #e3e9dc;
  padding: 4em 0;
}

footer .row{
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

.row-links{
	display: flex;
	flex-wrap: nowrap;
}

.footer-left{
	flex: 1 1 66.66%;
}

.footer-right{
	flex: 1 1 33.333%;
}

.footer-right p{
	margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.copyright{
	justify-content: center;
	align-self: center;
  color: #A6A88F;
  border-top: solid 1px #ced0b7;
  padding: 3em 0 0 0;
  margin: 3em 0 0 0;
}

.copyright a{
	color:#A6A88F;
}

.button {
	background-image: -moz-linear-gradient(top, #008dad, #007b9d);
	background-image: -webkit-linear-gradient(top, #008dad, #007b9d);
	background-image: -ms-linear-gradient(top, #008dad, #007b9d);
	background-image: linear-gradient(top, #008dad, #007b9d);
	display: inline-block;
	padding: 15px 25px 15px 25px;
	background-color: #007b9d;
	border-radius: 10px;
	text-transform: lowercase;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	letter-spacing: -1px;
	border: solid 1px #006e8b;
	box-shadow: inset 0px 0px 0px 1px #18a8c8;
}

.button:hover {
	background-image: -moz-linear-gradient(top, #1b9fbe, #118eb1);
	background-image: -webkit-linear-gradient(top, #1b9fbe, #118eb1);
	background-image: -ms-linear-gradient(top, #1b9fbe, #118eb1);
	background-image: linear-gradient(top, #1b9fbe, #118eb1);
	background-color: #118eb1;
	box-shadow: inset 0px 0px 0px 1px #3ecceb;
}

footer .padding-ul{
 	padding: 0 3.125em 0 0;
	list-style-type: none;
}

.padding-ul{
 	padding: 0 0 0 3.125em;
	list-style-type: none;
}

.cols2 h2{
	padding: 0 0 0 1.9em;
}

.right-bar .cols2 h2{
	padding: 0 0 0 0;
}
.colum-bar h2{
	padding: 0 0 0 1.9em;
}

.colum-bar-left .cols2 h2{
	padding: 0 1.9em 0 0;
}

.row-two .cols2 h2{
	padding: 0 0 0 0;
}
.left-bar .cols2 h2{
	padding: 0 0 0 0;
}

.colum-bar-left .cols2 .padding-ul{
 	padding: 0 3.125em 0 0;
	list-style-type: none;
}

.right-bar .cols2 .padding-ul{
 	padding: 0 3.125em 0 0;
	list-style-type: none;
}

/* media query*/
@media screen and (max-width: 1680px) {
	.container {
		width: 1200px;
	}

}

@media screen and (max-width: 1280px) {
  .container {
    width: calc(100% - 70px);
  }
		
	
  .header nav a {
    padding: 0 20px 0 20px;
  }

  .padding-cajas-centro {
    padding: 0 2.188em 0 2.188em;
  }

  .left {
    /*padding-left: 2.188em;*/
  }
  .right {
    padding-right: 2.188em;
  }

  .left,
  .right,
  .center {
    padding-top: 3.125em;
  }
}

@media screen and (max-width: 1050px) {
	
	.header nav a {
		padding: 0 12px 0 12px;
	}	
}
@media screen and (max-width: 980px) {
	.container {
		width: calc(100% - 100px);
	}
	.header {
		display: none;
	}
		
}
@media screen and (max-width: 736px) {
	 .container {
    width: calc(100% - 40px);
  }
	.banner h2 {
		font-size: 2em;
		padding: 1em;
	}
	.banner span {
    font-size: 1.2em;
    padding: 1em;
  }
  .banner-section {
    padding: 25px;
  }
}


